/* 全局样式表 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.el-breadcrumb {
  margin-bottom: 15px !important;
  font-size: 15px;
}

.el-card {
  box-shadow:  1px rgba(0, 0, 0, .1) !important;
}

.el-table {
  margin-top: 15px;
}

.el-pagination {
  margin-top: 15px;
}

.el-cascader__dropdown {
  height: 200px !important;
}

.el-cascader-panel {
  height: 200px !important;
}

.el-steps {
  margin: 18px 0;
}

.el-step__title {
  font-size: 13px !important;
}

.ql-editor {
  min-height: 300px;
}